<div class="ow-pagination">
    <nav>
        <ul class="pager">
            {% if page_obj.has_previous %}
                <li class="page-prv"><a href="?page={{ page_obj.previous_page_number  }}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Previous courses</a></li>
            {% else %}
                <li class="page-prv"><a class="pagination-active"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Previous courses</a></li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li>
                        <a class="pagination-active" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-next"><a href="?page={{ page_obj.next_page_number }}">Next courses<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            {% else %}
                <li class="page-next"><a class="pagination-active">Next courses<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            {% endif %}
        </ul>
    </nav>
</div>