<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class=""><!--<![endif]-->
{% block css %}
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>
        {% block title %}
            {{ title}}
        {% endblock %}
    </title>
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/apple-icon-114x114.png' %}">

	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/apple-icon-72x72.png' %}">

	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="{% static 'images/apple-icon-57x57.png' %}">

	<!-- Library - Bootstrap v3.3.5 -->
    <link rel="stylesheet" type="text/css" href="{% static 'libraries/lib.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libraries/Stroke-Gap-Icon/stroke-gap-icon.css' %}">

	<!-- Custom - Common CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/navigation-menu.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'libraries/lightslider-master/lightslider.css' %} ">

	<!-- Custom - Theme CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/shortcode.css' %}">
	<!--[if lt IE 9]>
	<script src="{% static 'js/html5/respond.min.js' %}"></script>
	<![endif]-->
</head>
{% endblock %}

<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
	<!-- Loader -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="loader-inner ball-clip-rotate">
				<div></div>
			</div>
		</div>
	</div><!-- Loader /- -->
{% block header %}
	<!-- Header -->
	<header class="header-main container-fluid no-padding">
		<!-- Top Header -->
		<div class="top-header container-fluid no-padding">
			<!-- Container -->
			<div class="container">
				<div class="row">
					<!-- Social -->
					<div class="col-md-4 col-sm-4 col-xs-6 social">
						<ul>
							<li><a title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div><!-- Social /- -->

                    {% if user.is_authenticated %}
                    <div class="col-md-4 col-sm-4 col-xs-6 register">
						<a href="{% url 'auth:logout' %}">Logout</a>
					</div>
                    {% else %}
					<div class="col-md-4 col-sm-4 col-xs-6 register">
						<a href="{% url 'auth:login' %}?next={{ request.path }}">Login</a>
					</div>
                    {% endif %}

					<!-- Logo Block -->
					<div class="col-md-4 col-sm-4 col-xs-12 logo-block">
						<a href="{% url 'main:index' %}">
							<img src="{% static 'images/logo.png' %}" alt="logo" width="46" height="41"/>
							<h3>New School</h3>
						</a>
					</div><!-- Logo Block /- -->
				</div>
			</div><!-- Container /- -->
		</div><!-- Top Header /- -->

       {% include 'mainapp/includes/main_menu.html' %}

	</header><!-- Header /- -->
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
    <!-- Footer Main -->
    <footer class="footer-main container-fluid no-padding">
        <!-- Container -->
        <div class="container">
            <!-- Footer About -->
            <div class="footer-about">
                <div class="logo-block">
                    <img src="{% static 'images/logo.png' %}" alt="logo" width="70" height="63"/>
                    <h3>NewSchool</h3>
                </div>
                <div class="footer-about-content">
                    <h3 class="block-title">About NewSchool</h3>
                    <p>Feels so right it cant be wrong. Rockin' and rollin' all week long. And when the odds are against him and their dangers work to do. You bet your life Speed Racer he will see it through. Boy the way Glen Miller played. Songs that made the hit parade. Guys like us we had it made. Those were the days.</p>
                </div>
            </div><!-- Footer About /- -->

            <div class="row">
                <!-- Customer Service Widget -->
                <aside class="col-md-3 col-sm-6 col-xs-6 widget widget_customer_services">
                    <h3 class="block-title">Customer services</h3>
                    <ul>
                        <li><a title="Online Earning" href="#">Online Earning</a></li>
                        <li><a title="Materials" href="#">Materials</a></li>
                        <li><a title="Presentation" href="#">Presentation</a></li>
                        <li><a title="Printed materials" href="#">Printed materials</a></li>
                        <li><a title="Curriculum" href="#">curriculum</a></li>
                        <li><a title="Literature" href="#">literature</a></li>
                        <li><a title="Help & Faq" href="#">Help & Faq</a></li>
                    </ul>
                </aside><!-- Customer Service Widget /- -->

                <!-- Quick Links Widget -->
                <aside class="col-md-2 col-sm-6 col-xs-6 widget widget_quick_links">
                    <h3 class="block-title">Quick links</h3>
                    <ul>
                        <li><a title="Faq" href="#">Faq</a></li>
                        <li><a title="Support" href="#">Support</a></li>
                        <li><a title="Sitemap" href="#">Sitemap</a></li>
                        <li><a title="Community" href="#">Community</a></li>
                        <li><a title="membership" href="#">membership</a></li>
                    </ul>
                </aside><!-- Quick Links Widget /- -->

                <!-- ContactUs Widget -->
                <aside class="col-md-3 col-sm-6 col-xs-6 widget widget_contactus">
                    <h3 class="block-title">Contact Us</h3>
                    <div class="contactinfo-box">
                        <i class="fa fa-map-marker"></i>
                            <p>09 Design Street, Mitri, Victoria, Australia.</p>
                    </div>
                    <div class="contactinfo-box">
                        <i class="fa fa-phone"></i>
                        <p>
                            <a title="0112345678" href="tel:+0112345678">+01 123 456 78</a>
                            <a title="0112355689" href="tel:+0112355689">+01 123 556 89</a>
                        </p>
                    </div>
                    <div class="contactinfo-box">
                        <i class="fa fa-map-marker"></i>
                        <p>
                            <a href="mailto:Info@OurDomain.Com" title="Info@OurDomain.Com">Info@OurDomain.Com</a>
                            <a href="mailto:Support@OurDomain.Com" title="Support@OurDomain.Com">Support@OurDomain.Com</a>
                        </p>
                    </div>
                </aside><!-- ContactUs Widget /- -->

                <!-- NewsLetter Widget -->
                <aside class="col-md-4 col-sm-6 col-xs-6 widget widget_newsletter">
                    <h3 class="block-title">News Letter</h3>
                    <p>Got a dream and we just know now we're gonna make our dream come true</p>
                    <div class="input-group">
                        <input type="text" placeholder="Enter Address" class="form-control">
                        <span class="input-group-btn">
                            <button type="button" title="Subscribe" class="btn">Go</button>
                        </span>
                    </div>
                    <ul>
                        <li><a title="Facebook" data-toggle="tooltip" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a title="Twitter" data-toggle="tooltip" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a title="Google Plus" data-toggle="tooltip" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a title="Linkedin" data-toggle="tooltip" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a title="Pinterest" data-toggle="tooltip" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a title="Dribbble" data-toggle="tooltip" href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </aside><!-- NewsLetter Widget /- -->
            </div>
        </div><!-- Container /- -->

        <!-- Container -->
        <div class="container">
            <div class="footer-menu">
                <!-- Copyrights -->
                <div class="copyrights ow-pull-left">
                    <p>&copy; 2016 | All rights reserved</p>
                </div><!-- Copyrights /- -->
                <!-- Navigation -->
                <nav class="navbar ow-navigation ow-pull-right">
                    <div class="navbar-header">
                        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar2" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar2">
                        <ul class="nav navbar-nav">
                            <li><a title="Home" href="index.html">Home</a></li>
                        </ul>
                    </div>
                </nav><!-- Navigation /- -->
            </div><!-- Footer Menu /- -->
        </div><!-- Container /- -->
    </footer><!-- Footer Main /- -->
{% endblock %}
{% block js %}
    <!-- JQuery v1.11.3 -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- Library - Js -->
    <script src="{% static 'libraries/lib.js' %}"></script><!-- Bootstrap JS File v3.3.5 -->
    <script src="{% static 'libraries/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'libraries/lightslider-master/lightslider.js' %}"></script>

    <!-- Library - Google Map API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCn3Z6i1AYolP3Y2SGis5qhbhRwmxxo1wU"></script>
    <script src="{% static 'js/functions.js' %}"></script>
{% endblock %}
</body>
</html>
