{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<!-- PageBanner -->
	<div class="container-fluid page-banner event-grid event-list no-padding" style="background: url({% static 'images/about-banner.jpg'%});">
		<div class="section-padding"></div>
			<div class="container">
				<div class="banner-content-block">
					<div class="banner-content">
						<h3>Courses List</h3>
						<ol class="breadcrumb">
							<li><a href="{% url 'main:index' %}">Home</a></li>
							<li>Language courses</li>
							<li class="active">{{current_language.name}}</li>
						</ol>
					</div>
				</div>
			</div>
		<div class="section-padding"></div>
	</div><!-- PageBanner /- -->

	<!-- Event List -->
	<div class="container-fluid eventlist upcoming-event latest-blog no-padding">
		<div class="section-padding"></div>
		<div class="container">
			<div class="section-header">
				<h3>Our {{current_language.name}} courses</h3>
				<span>Current courses</span>
			</div>

			<form class="filter-form" action="" method="get">
				<div class="event-categories">
					<div class="event-select-option">
						<select name="level_letter" class="selectpicker">
							<option data-icon="icon-Tag" value="">Level</option>
							{% for level in view.get_level %}
								<option value="{{ level.level_letter }}">
									{{ level.level_letter }}
								</option>
							{% endfor %}
						</select>
					</div>
					<div class="event-select-option">
						<select name="level_number" class="selectpicker">
							<option data-icon="icon-Tag" value="">Number level</option>
							{% for number in view.get_level_number %}
								<option value="{{ number.level_number }}">
									{{ number.level_number }}
								</option>
							{% endfor %}
						</select>
					</div>
					<div class="event-select-option">
						<select name="city" class="selectpicker">
							<option data-icon="icon-WorldWide" value="">Location</option>
							{% for city in view.get_city %}
								<option value="{{ city.city }}">
									{{ city.city }}
								</option>
							{% endfor %}
						</select>
					</div>
					<a id="filter-courses-btn" href="{% url 'main:filter_courses' current_language.pk %}?page=1">Filter</a>
				</div>
			</form>
			{% include 'mainapp/includes/courses_list.html' %}
		</div>
		<div class="section-padding"></div>
	</div><!-- Event List /- -->
{% endblock %}
{% block js %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
