{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<!-- PageBanner -->
	<div class="container-fluid page-banner blog no-padding" style="background: url({% static '/images/service-banner.jpg'%});">
		<div class="section-padding"></div>
			<div class="container">
				<div class="banner-content-block">
					<div class="banner-content">
						<h3>Teachers list</h3>
						<ol class="breadcrumb">
							<li><a href="{% url 'main:index' %}">Home</a></li>
							<li class="active">Teachers</li>
						</ol>
					</div>
				</div>
			</div>
		<div class="section-padding"></div>
	</div><!-- PageBanner /- -->

	<!-- Blog Teachers -->
	<div class="container-fluid eventlist blog upcoming-event latest-blog no-padding">
		<div class="section-padding"></div>
		<div class="container">
            <div class="section-header">
				<h3>Our teaches</h3>
			</div>

			<form class="filter-form" action="" method="get">
				<div class="event-categories">
					<div class="event-select-option">
						<select name="country" class="selectpicker">
							<option data-icon="icon-Tag" value="">Country</option>
							{% for country in view.get_country %}
								<option value="{{ country.country }}">
									{{ country.country }}
								</option>
							{% endfor %}
						</select>
					</div>
					<div class="event-select-option">
						<select name="city" class="selectpicker">
							<option data-icon="icon-Tag" value="">City</option>
							{% for city in view.get_city %}
								<option value="{{ city.city }}">
									{{ city.city }}
								</option>
							{% endfor %}
						</select>
					</div>
					<div class="event-select-option">
						<select name="language" class="selectpicker">
							<option data-icon="icon-WorldWide" value="">Language</option>
							{% for language in view.get_language %}
								<option value="{{ language }}">
									{{ language }}
								</option>
							{% endfor %}
						</select>
					</div>
					<a id="filter-teachers-btn" href="{% url 'main:filter_teachers' %}?page=1">Filter</a>
				</div>
			</form>

			{% include 'mainapp/includes/teachers_list.html' %}
        </div>
    <div class="section-padding"></div>
	</div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}