{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<!-- PageBanner -->
	<div class="container-fluid page-banner blog no-padding">
		<div class="section-padding"></div>
			<div class="container">
				<div class="banner-content-block">
					<div class="banner-content">
						<h3>Teachers list</h3>
						<ol class="breadcrumb">
							<li><a href="{% url 'main:index' %}">Home</a></li>
							<li class="active">Teachers</li>
						</ol>
					</div>
				</div>
			</div>
		<div class="section-padding"></div>
	</div><!-- PageBanner /- -->

	<!-- Blog Teachers -->
	<div class="container-fluid eventlist blog upcoming-event latest-blog no-padding">
		<div class="section-padding"></div>
		<div class="container">
            <div class="section-header">
				<h3>Our teaches</h3>
			</div>
			<div class="event-categories">
				<div class="event-select-option">
					<select class="selectpicker">
						<option data-icon="icon-Tag">Level</option>
						<option>A</option>
						<option>B</option>
						<option>C</option>
					</select>
				</div>
				<div class="event-select-option">
					<select class="selectpicker">
						<option data-icon="icon-Tag">Number level</option>
						<option>1.1</option>
						<option>1.2</option>
					</select>
				</div>
				<div class="event-select-option">
					<select class="selectpicker">
						<option data-icon="icon-WorldWide">Location</option>
						<option>German</option>
						<option>Italy</option>
						<option>USA</option>
					</select>
				</div>
				<a href="#">Filter</a>
			</div>
			<div id="teachers-row" class="row">
				<div class="col-md-9 col-sm-6 col-xs-6 content-area">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-6 blog-box">
                            {% for teacher in teachers %}
                                <article class="type-post">
                                    <div class="entry-cover">
                                        <a href="{% url 'main:teacher' teacher.pk %}"><img src="{{MEDIA_URL}}{{teacher.photo}}" alt="{{ teacher.surname }}" width="297" height="298"/></a>
                                    </div>
                                    <div class="entry-block">
										<div class="entry-meta"></div>
                                        <div class="entry-title">
                                            <a href="{% url 'main:teacher' teacher.pk %}"><h3>{{teacher.name}} {{teacher.surname}}</h3></a>
                                        </div>
                                        <div class="entry-content">
                                            <p>{{teacher.introduction}}</p>
                                        </div>
                                        <a href="{% url 'main:teacher' teacher.pk %}" class="learn-more">Learn More</a>
                                    </div>
                                </article>
                            {% endfor %}
						</div>
					</div>

					<!-- Ow Pagination -->
						<div id="teachers-pagination">
							{% include 'mainapp/includes/pagination.html'%}
						</div>
					<!-- Ow Pagination /- -->

                </div>
            </div>
        </div>
    <div class="section-padding"></div>
	</div>
{% endblock %}